{% extends "layout.twig" %}
{% block main %}
	<section class="container2">
		<h1>Add Job</h1>
		<div>{{ responseMessage }}</div>
		<form action="/introPHP/job/add" method="POST">
			<input type="text" name="company" id="company" placeholder="Company"/>
			<input type="text" name="title" id="title" placeholder="Title"/>
			<input type="text" name="picture" id="picture" placeholder="Picture"/>
			<input type="number" name="months" id="months" placeholder="Months"/>
			<input type="text" name="function1" id="function1" placeholder="Function 1"/>
			<input type="text" name="function2" id="function2" placeholder="Function 2"/>
			<input type="text" name="function3" id="function3" placeholder="Function 3"/>
			<button class="btn2" type="submit">Save</button>
		</form>
	</section>
</html>{% endblock %}
