{% extends "layout.twig" %}
{% block main %}
	<header class="header">
		<div class="navbar">
			<div class="navbar__brand">{{brand}}</div>
			<div class="navbar__menu">
				<ul>
					<li><a href="/introPHP/job/add">addJob</a></li>
					<li><a href="/introPHP/project/add">addProject</a></li>
					<li><a href="/introPHP/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</header>

	<section class="container2">
		<h1>Add Job</h1>
		<div>{{ responseMessage }}</div>
		<form action="/introPHP/job/add" method="POST" enctype="multipart/form-data">
			<input class="input" type="text" name="company" id="company" placeholder="Company"/>
			<input class="input" type="text" name="title" id="title" placeholder="Title"/>
			<div class="input-file">
				<p>Picture</p>
				<input type="file" name="picture" placeholder="Picture"/>
			</div>
			<input class="input" type="number" name="months" id="months" placeholder="Months"/>
			<input class="input" type="text" name="function1" id="function1" placeholder="Function 1"/>
			<input class="input" type="text" name="function2" id="function2" placeholder="Function 2"/>
			<input class="input" type="text" name="function3" id="function3" placeholder="Function 3"/>
			<button class="btn2" type="submit">Save</button>
		</form>
	</section>
</html>{% endblock %}
