{% extends "layout.twig" %}
{% block main %}
	<section class="container2">
		<h1>Add Project</h1>
		<div>{{ responseMessage }}</div>
		<form action="/introPHP/project/add" method="POST" enctype="multipart/form-data">
			<input class="input" type="text" name="company" id="company" placeholder="Company"/>
			<input class="input" type="text" name="title" id="title" placeholder="Title"/>
			<div class="input-file">
				<p>Picture</p>
				<input type="file" name="picture" placeholder="Picture"/>
			</div>
			<button class="btn2" type="submit">Save</button>
		</form>
	</section>
</html>{% endblock %}
