<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" href="./assets/static/icon.png"/>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="./assets/css/main.min.css"/>
		<link rel="stylesheet" href="../assets/css/main.min.css"/>
		<title>introPHP</title>
	</head>

	<body>
		<div class="container">
			<header class="header">
				<div class="navbar">
					<div class="navbar__brand">{{brand}}</div>
					<div class="navbar__menu">
						<ul>
							<li><a href="/introPHP/#contact">Contact</a></li>
							<li><a href="/introPHP/#perfil">Perfil</a></li>
							<li><a href="/introPHP/#projects">Projects</a></li>
							<li><a href="/introPHP/job/add">addJob</a></li>
							<li><a href="/introPHP/project/add">addProject</a></li>
							<li><a href="/introPHP/#">Login</a></li>
						</ul>
					</div>
				</div>
			</header>
			<main>
				{% block main %}{% endblock %}
			</main>
		</div>
	</body>

</html>
