* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  color: #f2f2f2;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.overlay {
  height: inherit;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.header {
  grid-area: header;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
}
.navbar {
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__brand {
  font-size: 3em;
}
.navbar__brand:hover {
  cursor: pointer;
}
.navbar__menu ul {
  list-style: none;
  display: flex;
}
.navbar__menu ul li {
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
}
.navbar__menu ul li:hover {
  background-color: #f2f2f2;
  color: #2f2f2f;
  cursor: pointer;
  transition: 200ms;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "hero"
    "perfil"
    "projects";
}
.hero {
  grid-area: hero;
  min-height: 100vh;
  background-image: url("../static/keyboard.jpg");
  background-size: cover;
}

.hero__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.hero__data {
  font-size: calc(1em + 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__data--container ul {
  margin-top: 20px;
  list-style: none;
}
.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__image--container {
  width: 30vw;
  height: 30vw;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}
.hero__image--container img {
  max-width: 100%;
  border-radius: 20px;
  filter: grayscale(50%);
}
.perfil {
  grid-area: perfil;
  min-height: 100vh;
  background-image: url("../static/desk.jpg");
  background-size: cover;
}
.perfil__container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.perfil__title {
  font-size: calc(2em + 1vw);
  margin-bottom: 5px;
  letter-spacing: 10px;
}
.perfil__description {
  text-align: center;
  font-size: calc(0.5em + 1vw);
  margin-bottom: 50px;
}
.perfil__experience {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.card__details {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
}
.card__details h3,
.card__details h4 {
  margin-bottom: 10px;
}
.card__details ul {
  list-style: none;
  text-align: center;
}
.card:hover {
  border: 1px solid #f2f2f2;
}
.card:hover .card__image,
.card:hover .card__description {
  opacity: 0;
}
.card:hover .card__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__image {
  width: 100%;
  height: 100%;
}
.card__image img {
  height: 100%;
}
.card__description {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.projects {
  grid-area: projects;
  min-height: 100vh;
  background-image: url("../static/programming.jpg");
  background-size: cover;
}
.projects__container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__title {
  font-size: calc(5em + 1vw);
  margin-bottom: 50px;
}
.projects__experience {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card2 {
  box-sizing: border-box;
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 275px 125px;
  grid-template-areas:
    "card2__image"
    "card2__description";
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.card2__image {
  grid-area: card2__image;
  width: inherit;
  height: 100%;
}
.card2__image img {
  height: 100%;
}
.card2__description {
  grid-area: card2__description;
  background-color: rgba(0, 0, 0, 0.75);
}
.card2__description p {
  margin: 10px 0;
}
.card2__description--container {
  width: 350px;
  height: 200px;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
  bottom: 25px;
  left: 25px;
  border-radius: 20px;
  color: #f2f2f2;
}
.btn {
  box-sizing: border-box;
  background-color: #2f2f2f;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  color: #f2f2f2;
  font-size: 1em;
  cursor: pointer;
}
.btn:hover {
  background-color: #f2f2f2;
  color: #2f2f2f;
}
.footer {
  grid-area: footer;
  background-color: black;
}
